services:
  postgres:
    image: postgres:16
    container_name: spotify_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: spotify
      POSTGRES_USER: spotify_user
      POSTGRES_PASSWORD: spotify_pass
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: